@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');

body {
    margin: 0;
    background-image: url("./rome.jpg"); /* from https://unsplash.com/ */
    min-height: 100vh;
    background-size: cover;
    align-items: center;
    background-position: center center;
    display:flex;
    flex-direction: column;
    font-family: 'Crimson Text', serif;
}

#button {
    margin-top: 10px;
    width: 100px;
    border-color: black;
    border-radius: 2px;
}

#output {
  font-size: 1.2rem;
}

#text {
  font-size: 1.1rem;
}

#container {
    margin-left: 50rem;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#number {
width: 35%;
background-color: transparent;
}